/* Style untuk halaman */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Latar belakang hitam */
}

.text-container {
    text-align: center;
}

.text-container p {
    color: #fff; /* Warna teks putih */
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}
